{% extends "layout.html" %}

{% block title %}
Location - Decimal
{% endblock %}

{% block main %}

    <div class="container-fluid">
        <div class="row">
                        <div class="col-lg-8 col-sm-6 order-2 wind">
                <div id="windy" class="border border-dark"></div>
                <script type="text/javascript">

                    var x = window.matchMedia("(max-width: 700px)");

                    var map = L.map('windy').setView([ {{ lat_decimal }}, {{ lon_decimal }}], {{ zoominitial }} );

                    function initialize_map(lat_decimal, lon_decimal, zoominitial) {

                        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                            maxZoom: 18,
                            id: 'mapbox/streets-v11',
                            tileSize: 512,
                            zoomOffset: -1,
                            accessToken: 'pk.eyJ1Ijoic2FpbG9yZ2lybDEyMzQiLCJhIjoiY2twdjloNDR6MTF5NzJxbzEzMnNrcGpybyJ9.dNTP9h4JPX9bQ4G1TYPqJw'
                        }).addTo(map);

                        const options = {
                            // Required: API key
                            key: 'OqSIVIrwtWf0ZUKBT0VvFZiAn6kLL0GI', // REPLACE WITH YOUR KEY !!!

                            // Put additional console output
                            verbose: true,
                            latlon: true,

                            // Optional: Initial state of the map
                            lat: lat_decimal,
                            lon: lon_decimal,
                            zoom: zoominitial,
                        };

                        if (x.matches) {

                            // Initialize Windy API
                            windyInit(options, windyAPI => {
                            // windyAPI is ready, and contain 'map', 'store',
                            // 'picker' and other usefull stuff


                                const { map } = windyAPI;

                                L.popup()
                                    .setLatLng([lat_decimal, lon_decimal])
                                    .setContent("Lat: " + (lat_decimal.toFixed(5)) + "<br>Lon: " + (lon_decimal.toFixed(5)))
                                    .openOn(map);

                            });

                        } else {

                            // Initialize Windy API
                            windyInit(options, windyAPI => {
                                // windyAPI is ready, and contain 'map', 'store',
                                // 'picker' and other usefull stuff
                                const { picker, utils, broadcast } = windyAPI;

                                picker.on('pickerOpened', latLon => {
                                    // picker has been opened at latLon coords
                                    console.log(latLon);

                                    const { lat, lon, values, overlay } = picker.getParams();
                                    // -> 48.4, 14.3, [ U,V, ], 'wind'
                                    console.log(lat, lon, values, overlay);

                                    const windObject = utils.wind2obj(values);
                                    console.log(windObject);
                                });

                                picker.on('pickerMoved', latLon => {
                                    // picker was dragged by user to latLon coords
                                    console.log(latLon);
                                });

                                picker.on('pickerClosed', () => {
                                    // picker was closed
                                    L.popup()
                                        .setLatLng([lat_decimal, lon_decimal])
                                        .setContent("Lat: " + (lat_decimal) + "<br>Lon: " + (lon_decimal))
                                        .openOn(map);
                                });

                                // Wait since wather is rendered
                                broadcast.once('redrawFinished', () => {
                                    picker.open({ lat:  lat_decimal , lon:  lon_decimal  });
                                    // Opening of a picker (async)
                                });
                            });
                        };
                    }

                    initialize_map( {{ lat_decimal }} , {{ lon_decimal }} , {{ zoominitial }})

                    function getLocation() {
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(showPosition);
                        } else {
                            console.log("Geolocation is not supported by this browser")
                        };
                    };

                    function showPosition(position) {

                        latitude = Number.parseFloat(position.coords.latitude).toFixed(5);
                        longitude = Number.parseFloat(position.coords.longitude).toFixed(5);
                        document.getElementById("lat_decimal").value = latitude;
                        document.getElementById("lon_decimal").value = longitude;

                        initialize_map( Number.parseFloat(position.coords.latitude) , Number.parseFloat(position.coords.longitude) , {{ zoominitial }})
                    };

                </script>
            </div>

            <div id="decimal-form" class="col-lg-4 col-sm-6 wind order-1">
                <form action="/decimal" method="post">
                    <h4 class="text-dark">Location Based</h4>
                    <div class="form-group">
                        <select class="custom-select" name="boat" required>
                            <option disabled value="" hidden selected>Boat</option>
                            <option value="Class_40">Class 40</option>
                            <option value="Maxi_100">Super Maxi 100</option>
                            <option value="Tara">Tara V2</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="col-4 form-group">
                            <a href="/position" class="btn btn-dark deg_btn" role="button">° ' "</a>
                        </div>
                        <div class="col-4 form-group">
                            <a href="/decimal" class="btn btn-dark deg_btn" role="button">Decimal</a>
                        </div>
                        <div class="col-4 form-group">
                            <button onclick="getLocation()" class="btn btn-dark deg_btn location" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
                                    <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="form-group deg_label"><label for="lat_decimal" style="padding-bottom:6px;"class="deg_label">Latitude:</label></div>
                    <div class="form-group">
                        <input autocomplete="off" class="form-control deg" name="lat_decimal" id="lat_decimal" placeholder="Decimal degrees" value="" type="number" step="0.00001" min='-90' max='90' required>
                    </div>
                    <div class="form-group deg_label"><label for="lon_decimal" style="padding-bottom:6px;"class="deg_label">Longitude:</label></div>
                    <div class="form-group">
                        <input autocomplete="off" class="form-control deg" name="lon_decimal" id="lon_decimal" placeholder="Decimal degrees" value="" type="number" step="0.00001" min='-180' max='180' required>
                    </div>

                    <div class="input-group mb-3">
                        <input class="form-control" name="heading" placeholder="Heading" value="" type="number" min='0' max = '360' required>
                                             <div class="input-group-append">
                            <div class="input-group-text" style="width: 50px;">°</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" name="light" {{ light_wind }} id="light">
                            <label class="custom-control-label" for="light">Light wind sails</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" name="heavy" {{ heavy_wind }} id="heavy">
                            <label class="custom-control-label" for="heavy">Heavy wind sails</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" name="reach" {{ reach }} id="reach">
                            <label class="custom-control-label" for="reach">Reaching sails</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" name="foils" {{ foil }} id="foils">
                            <label class="custom-control-label" for="foils">Foils</label>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" name="polish" {{ polish }} id="polish">
                            <label class="custom-control-label" for="polish">Hull polish</label>
                        </div>
                    </div>
                    <div>
                        <button onclick="showalert()" class="btn btn-dark" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
